<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div id="home">
        <h1 style="color:black;">Welcome To <br> Online Car Rental System</h1>
        <p style="color:black;">We Provide You The Best Car</p>
        <div *ngIf="form && emailForm">
            <form [formGroup]="emailForm" *ngIf="!code" style="margin:auto;max-width:800px" >
              Email:
              <input formControlName="email" type="email" size="70"><br>
              <button type="button" (click)="getEmail()">Submit</button>
            </form>

            <form [formGroup]="form" *ngIf="code" style="margin:auto;max-width:800px">
              Password:
              <input formControlName="password" type="password" size="70"> <br>
              Confirm password:
              <input formControlName="confirmPassword" type="password"><br>
              <button type="button" (click)="resetPassword()">Submit</button>
            </form>
          </div>

      </div>
      </body>
