<!-- nav -->
<div style="min-height: 100vh;">
  <nav class="navbar navbar-expand navbar-dark bg-dark" style="min-height: 5vh;" *ngIf="currentUser">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="role !== 'admin'" routerLink="/home">Home</a>
      <a class="nav-item nav-link" *ngIf="role !== 'admin'" routerLink="/user-profile">Profile</a>
      <a class="nav-item nav-link" *ngIf="role === 'admin'" routerLink="/vehicle-add">Add a Vehicle</a>
      <a class="nav-item nav-link" *ngIf="role === 'admin'" routerLink="/vehicle-list">Vehicle List</a>
      <a class="nav-item nav-link" *ngIf="role === 'admin'" routerLink="/reservation-list">Reservation list</a>
      <a class="nav-item nav-link" *ngIf="role === 'admin'" routerLink="/user-list">User list</a>
      <a class="nav-item nav-link" *ngIf="role === 'admin'" routerLink="/feedback-list">Feedback list</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <div></div>
  </nav>

  <div>
    <br>
  </div>

  <!-- main app container -->
  <!-- <div class="jumbotron" style="min-height: 80vh;;"> -->
      <div style="min-height: 80vh;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <alert></alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50" *ngIf="currentUser">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</div>



