<table class="table table-hover">
    <thead>
    <tr>
        <td>Registration Number</td>
        <td>Brand</td>
        <td>MOdel</td>
        <td>Number of Seats</td>
        <td>Fuel Type</td>
        <td>Distance</td>
        <td>Price</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>
                    <a *ngIf="vehicle.img" [href]="vehicle.img" target="_blank">
                        <img style="max-width: 100%" [src]="vehicle.img">
                    </a>
                    <span *ngIf="!vehicle.img">No image</span>
            </td>
            <td>{{ vehicle.registrationNumber }}</td>
            <td>{{ vehicle.brand }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.numberOfSeats }}</td>
            <td>{{ vehicle.fuelType }}</td>
            <td>{{ vehicle.distance }}</td>
            <td>{{ vehicle.price }}</td>
            <td><a [routerLink]="['/vehicle-edit', vehicle._id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteVehicle(vehicle._id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>