<!--
<div *ngIf="currentUser && !edit">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>User Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>User Name</td>
      <td>{{currentUser.userName}}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{currentUser.firstName}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{currentUser.lastName}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{currentUser.email}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{currentUser.city}}</td>
    </tr>
    <tr>
      <td>Contact Number</td>
      <td>{{currentUser.contactNumber}}</td>
    </tr>
    <tr>
      <td>
        <button (click)="toggleEdit()" *ngIf="!edit">Edit</button>
      </td>
    </tr>


    </tbody>

  </table> -->

<div class="card" style="width: 50%; margin-left: 25%" *ngIf="!edit && currentUser">
    <h3 class="card-title w-100 text-center">User Profile</h3>
  <!-- Form starts -->
  <form [formGroup]="angForm" (ngSubmit)="onSubmit()">

    <div class="group-gap">

      <!-- Upload image -->
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type='file' name="userImage" class="form-control" id="imageUpload" accept=".png, .jpg, .jpeg"
            #fileInput (change)="uploadFile($event)" />
        </div>
        <div>
          <img [src]="currentUser.image" *ngIf="!preview && currentUser.image" width="200" height="200" style="width: 100%; height: 100%; object-fit: cover">
          <img [src]="preview" *ngIf="preview" style="object-fit: cover; width: 100%; height: 100%">
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="fileInput.click()">Upload Image</button>

  </form>
  <div class="card-body">

    <div *ngIf="currentUser && !edit">
      <table class="table table-hover">

        <tbody>
          <tr>
            <td>User Name</td>
            <td>{{currentUser.userName}}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{currentUser.firstName}}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{currentUser.lastName}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{currentUser.email}}</td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{currentUser.city}}</td>
          </tr>
          <tr>
            <td>Contact Number</td>
            <td>{{currentUser.contactNumber}}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="toggleEdit()" class="btn btn-primary w-100" *ngIf="!edit">Edit</button>
    </div>
  </div>
</div>

<div class="card" *ngIf="edit && angForm">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">First Name </label>
        <input type="text" class="form-control" formControlName="firstName" #firstName
          [(ngModel)]="currentUser.firstName" />
      </div>
      <div
        *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['firstName'].errors.required">
          First Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Last Name </label>
        <input type="text" class="form-control" formControlName="lastName" #lastName
          [(ngModel)]="currentUser.lastName" />
      </div>
      <div
        *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['lastName'].errors.required">
          Last Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Username</label>
        <input type="text" class="form-control" formControlName="userName" #userName
          [(ngModel)]="currentUser.userName" />
      </div>
      <div
        *ngIf="angForm.controls['userName'].invalid && (angForm.controls['userName'].dirty || angForm.controls['userName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['userName'].errors.required">
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">City</label>
        <input type="text" class="form-control" formControlName="city" #city [(ngModel)]="currentUser.city" />
      </div>
      <div
        *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['city'].errors.required">
          City is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Contact Number </label>
        <input type="text" class="form-control" formControlName="contactNumber" #contactNumber
          [(ngModel)]="currentUser.contactNumber" />
      </div>
      <div
        *ngIf="angForm.controls['contactNumber'].invalid && (angForm.controls['contactNumber'].dirty || angForm.controls['contactNumber'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['contactNumber'].errors.required">
          Contact Number is required.
        </div>
      </div>

      <div class="form-group">
        <button (click)="updateUserProfile()" [disabled]="angForm.invalid" class="btn btn-primary">Update
          Profile</button>
      </div>
    </form>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<h2>Passed reservations : </h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Reserving Date</td>
      <td>Returning Date</td>
      <td>Reserved vehicle</td>
      <td>Rate</td>
      <!-- <td>Delete</td> -->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let reservation of oldReservations">
      <td>{{ reservation.from | date}}</td>
      <td>{{ reservation.to | date}}</td>
      <td><a [routerLink]="['/vehicle/'+reservation.vehicle._id]">{{reservation.vehicle.brand}} -
          {{reservation.vehicle.model}}</a></td>
      <!--<td><a [routerLink]="['/reservation-edit-form', reservation._id]" class="btn btn-primary">Edit</a></td>-->
      <td>
        <bar-rating *ngIf="reservation.completed" [max]="5" [(rate)]="reservation.rating" [theme]="'default'" (rateChange)="addRating(reservation)">
        </bar-rating>
        <span *ngIf="!reservation.completed">Not completed</span>
      </td>
      <!-- <td><button disabled="true" class="btn btn-danger">Delete</button></td> -->
    </tr>
  </tbody>
</table>

<h2>Upcoming Reservations : </h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Reserving Date</td>
      <td>Returning Date</td>
      <td>Reserved vehicle</td>
      <td>Delete</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.from | date}}</td>
      <td>{{ reservation.to | date}}</td>
      <td><a [routerLink]="['/vehicle/'+reservation.vehicle._id]">{{reservation.vehicle.brand}} -
          {{reservation.vehicle.model}}</a></td>
      <!--<td><a [routerLink]="['/reservation-edit-form', reservation._id]" class="btn btn-primary">Edit</a></td>-->
      <td><a (click)="deleteReservation(reservation._id)" class="btn btn-danger">Delete</a></td>
    </tr>
  </tbody>
</table>
